<div class="comment-author">
    {{comment.user.username}}
</div>

<div class="comment-message">
    {{comment.message}}
</div>
<div *ngIf="comment.content">

    <!--<picture-post-content [postContent] = "post.content.value.mediaUrl"></picture-post-content>-->
    <picture-post-content *ngIf="comment.content.type == 'picture'" [postContent]="comment.content"></picture-post-content>

    <youtube-post-content *ngIf="comment.content.type == 'youtube'" [postContent]="comment.content"></youtube-post-content>

    <video-post-content *ngIf="comment.content.type == 'video'" [postContent]="comment.content"></video-post-content>

</div>


<style>
    :host {
        display: block;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
            background: #e9ebee;

    }
     .comment-author {
        flex: 1;
        overflow: auto;
        padding: 0 20px;
        height: 100%;
        font-weight: bold;
    }
    .comment-message {
        height: 100%;
    }
</style>