<div *ngFor='let comment of comments'>
    <div class="comment-author">
        {{comment.user.username}}
    </div>

    <div class="comment-message">
        {{comment.message}}
    </div>
</div>


<style>
    :host {
        display: block;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background: #e9ebee;
    }
    
    .comment-author {
        flex: 1;
        overflow: auto;
        padding: 0 20px;
        height: 100%;
        font-weight: bold;
    }
    
    .comment-message {
        height: 100%;
    }
</style>